<% if @post.comments.count == 0 %>
    <p>There are not any comments yet</p>
<% else %>
    <div class = 'comment_container'>
        <p class = 'comment_name'><%= comment.name %></p>
        <p class = 'comment_body'><%= comment.body %></p>
        <p class = 'comment_time'><%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %></p>
    </div>
<% end %>