<% if @post.comments.build.errors.any? %> 
<div id = "errors">  
  <h2><%= pluralize(@post.comments.build.errors.count, "error") %> prevented this post for saving</h2>  
  <ul>  
  <% @post.comments.build.errors.full_messages.each do |message| %>  
    <li><%= message %></li>  
  <% end %>  
  </ul>  
</div>  
<% end %> 