<div class = "links_container">
  <ul>
    <li>
        <a href="https://github.com/Franx0">
            <img src = "./assets/mygithub.png" class = "links_images"/>
            <p>Franx0</p>
        </a>
    </li>
    <li>
        <a href="http://es.linkedin.com/in/franmoya/">
            <img src = "./assets/mylinkedin.png" class = "links_images"/>
            <p>Fran Moya</p>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/Franxo06">
            <img src = "./assets/mytwiter.png" class = "links_images"/>
            <p>@Franxo06</p>
        </a>
    </li>
    <li>
        <a href="https://soundcloud.com/franx0-1">
            <img src = "./assets/mysoundcloud.png" class = "links_images"/>
            <p>Franx0</p>
        </a>
    </li>
  </ul>
</div>