<section>
    <div class = "posts read text"> 
        <div class = "profile">
            <%= image_tag "about.png" %>
            <div class = "inline">
                <h1>Fran Moya</h1>
                <h3>rock developer and web guitarist</h3>
            </div>
            <p>En este blog podrás aprender a programar en diferentes lenguajes de programación de una manera fácil y muy práctica, a través de sencillos y cortos ejercicios.</p>
        </div>
        <p>Soy de la generación del 89, actualmente estoy parado, pero me entretengo haciendo proyectos web.
        <br>
        Después de terminar mi aventura en Ironhack, decidí abrir este blog para compartir con todo el mundo mis pequeños avances en este mundo de la programación. 
        Yo mismo he desarrollado y desplegado este blog con los conocimientos adquiridos durante mis tres meses de programación intensiva en Ironhack. 
        Ha sido una experiencia única de la que me siento orgulloso, pero sobre todo agradecido.
        McKinsey Social Initiative a través de su programa Generation nos brindó la oportunidad, a mi y a muchos otros compañeros, de disfrutar de un curso de programación intensiva en el que aprendimos a programar entornos web en diferentes lenguajes de programación.
        <br>
        Ahora, yo quiero compartir esos conocimientos contigo, lector audaz, para que puedas aprender o conocer un poco mejor el desarrollo de páginas web, algunos lenguajes de programación, pero sobre todo que le pierdas el miedo y le cojas gusto a esto de la programación.
        <br>
        Como has podido observar me gusta la programación pero entre mis hobbies también se encuentra el de jugar a videojuegos, leer o tocar la guitarra. Este último más que un hobby es un reto.
        <br>
        También, dedico parte de mi tiempo a impartir clases particulares, mates, física, química... y lo disfruto, todo sea por ayudar a formar personas.</p>
    </div>
</section>
